.message-wrapper{
  display: flex;
  justify-content: flex-start;
}
.message-wrapper.me{
  justify-content: flex-end;
}
.message-wrapper.me .content{
  background-color: #24bf41;
}
.content{
  max-width: 70%;
  min-width: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: #2596be;
  border-radius: 5px;
}
.user {
  font-size: 10px;
  color: white;
}
.message{
  
}
.created-at{
  text-align: right;
  font-size: 10px;
  font-style:italic;
}