.message-container{
  display: flex;
  flex-wrap: wrap;
}
.message-container.other{
  justify-content: flex-start;
}
.message-container.you{
  justify-content: flex-end;
}
.message-container.you .message-body{
  background-color: green;
}
.message-wrapper{
  max-width: 70%;
  min-width: 250px;
}
.message-body{
  background-color: cadetblue;
  color: white;
  border-radius: 5px;
  text-align: right;
  padding: 5px;
}
.message-header{
  font-size: 11px;
  font-style: bold;
}
.message-footer{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.message-footer > *{
  font-size: 12px;
  font-style: italic;
  color: #333;
}
.message-footer > *.room{
  /* margin-right: 5px; */
}